*{
    padding: 0;
    margin: 0;
}

.title{
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
}

.subtitle{
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
}

.text{
    font-family: "Montserrat", sans-serif;
    font-size: 0.65rem;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}


/*HEADER NAV*/

h1{
    font-family: "Cormorant Garamond", serif;
    font-weight: 400;
    letter-spacing: 8px;
    line-height: 0.9;
    color: #111;
    margin: 0;
}


header{
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: white;
    border-bottom: 0.2rem solid black;
}

nav{
    padding: 15px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10rem;
}

.ul-nav{
    display: flex;
    gap: 1rem;
    list-style: none;
    padding: 0;
    margin: 0;
}

ul li a{    
    text-decoration: none;
    color: black;
}

.logos-nav{
  width: 2rem;
  height: 2rem;
}

/* MAIN */

.portada{
    background-image: url(../assets/portada.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.portada-content{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    gap: 2rem;
    font-size: 2rem;
}

.portada-content a{
    padding: 16px 48px;
    background: #111;
    color: #fff;
    border: 1px solid #111;
    text-decoration: none;
    text-transform: uppercase;
}

/* FOOTER */
footer{
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}