*{
    padding: 0;
    margin: 0;
}

h1{
    color: blue;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: aquamarine;

}

/*HEADER NAV*/
nav{
    padding: 15px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10rem;
}

ul{
    display: flex;
    gap: 2rem;
    list-style: none;
    padding: 0;
    margin: 0;
}

ul li a{    
    text-decoration: none;
    color: black;
}

.logos-nav{
  width: 2rem;
  height: 2rem;
}